svg {
  & #layer7,
  #layer10,
  #g6374 {
    @include displayWheel;
  }

  & #g1261 {
    transform-origin: 114.5px 169.5px;

    transition: all 0.3s ease;
  }

  & #tspan6682 {
    animation: blink infinite 1s ease-in;

    @keyframes blink {
      0% {
        opacity: 0.1;
      }
      20% {
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0.1;
      }
    }
  }
}
